body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;

    font-size: 14;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

      
    background-image: url("../img/fon/layer.jpg");
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;

    background-color: #f9f6f3;
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:active,
.button:focus {
    background-color: #663d15;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list {
    list-style: none;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    color: #000000;

    background-color: #F8F5F2;
    background-image: url("img/fon/layer-24-copy.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appointment-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
}

.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}


html,
body {
    min-width: 1122px;
    min-height: 1750px; 
}

.main-navigation {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .main-header-logo {
     order: 2;
     
 }

 .site-navigation {
     width: 620px;  
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .user-navigation {
     width: 140px;
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px; 
    background-color: #000000;
 }

 .container {
     width: 940px;
     margin: 0 auto;
     padding: 0 10px; 
 }

 .main-navigation-wrapper .container {
     display: flex;
     justify-content: space-between;
 }

.features-list {
    min-height: 170px;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.features-item {
    width: 300px;
    min-height: 170px;
}

.features {
    margin-bottom: 80px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
}

.news {
    min-height: 315px;
    width: 380px;
}

.gallery {
    min-height: 295px;
    width: 300px;
}

.contacts {
    min-height: 340px;
    width: 300px;
}

.appointment {
    min-height: 315px;
    width: 380px;
}

.main-footer {
    
    margin-top: 65px;
    padding: 60px 0;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    min-height: 100px;
    margin-right: 80px;
}

.footer-social {
    min-height: 100px;
    width: 145px;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    min-height: 100px;
    margin-left: auto;
}




  



